.article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 2vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #8a73ffcc, #ffffff);
  gap: 2vh;
  position: relative;
}
.x {
  position: absolute;
  font-size: 3em;
  color: #8b73ff;
  top: 0.5em;
  right: 1.5em;
  cursor: pointer;
}
.total {
  font-size: 2.7em;
  font-weight: 500;
  text-shadow: 0 0 15px #8b73ff;
  color: #e1a3ff;
  margin-bottom: 2vh;
  filter: contrast(10);
}

.input {
  background-color: #f7f7f784;
  border: none;
  width: 80%;
  height: 5vh;
  border-bottom: solid 2px #8a73ffcc;
  padding-left: 0.25em;
  font-size: 1.8em;
  color: #1c1833cc;
  outline: none;
}
.cta {
  width: 80%;
  height: 7.5vh;
  background: linear-gradient(90deg, #8b73ff, #e1a3ff);
  border: transparent;
  color: #f7f7f7;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 2vh;
  cursor: pointer;
}

.cta:hover {
  background: linear-gradient(180deg, #8b73ff, #e1a3ff);
}
