.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 2vh;
}
.cta {
  width: 60vw;
  height: 7.5vh;
  background: linear-gradient(90deg, #8b73ff, #ffffff);
  border: transparent;
  color: #f7f7f7;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 2vh;
  cursor: pointer;
}
.cta:hover {
  background: linear-gradient(90deg, #ffffff, #8b73ff);
  transition: 1s;
}

.h1 {
  font-size: 8em;
  max-width: 70%;
  text-align: center;
  text-shadow: 0 0 15px #f7f7f7;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.pBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dash {
  font-size: 6em;
  color: #e1a3ff;
}
.span1 {
  font-size: 6em;
  text-align: center;
}
.span2 {
  font-size: 3em;
  text-align: center;
}
.spanSec1 {
  font-size: 2.5em;
}

.spanSec2 {
  font-size: 2em;
  margin-bottom: 4vh;
  font-weight: 600;
}

.footer {
  font-size: 2em;
  color: #f7f7f7;
}
